@import '~font-awesome/css/font-awesome.css';

#body {
    background-color: var(--background);
}

#table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--songTablePairColor);
    margin-bottom: 65px;
}

#table td,
#table th {
    padding: 8px;
    color: var(--tableFontColor);
}

#table tr:nth-child(even) {
    background-color:var(--songTableImpairColor);
}

#table tr>*:nth-child(0) {
    display: none;

}

#table tr:hover {
    background-color: var(--songTableHoverColor);
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primaryColor);
    color: var(--textOnPrimary);
}

.mp3logo {
    font-size: 30px;
    cursor: pointer;
    color: var(--textOnBackground);
}




/* The Modal (background) */
.modal {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 100;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0);
    /* Black w/ opacity */
}

.animeLink {
    color: var(--textOnPrimary);
}

.textLink {
    color: var(--linkOnBackground)
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: var(--primaryColor);
    color: var(--textOnPrimary);
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: var(--primaryColor);
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--background);
    color: var(--textOnBackground);
    font-size: 18px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}