<!-- The Modal -->
<div *ngIf="showSongInfoPopup" id="myModal" class="modal">

    <!-- Modal content -->
    <div (click)="this.doubleClickPreventer = !this.doubleClickPreventer;" class="modal-content">
        <div class="modal-header">
            <h3 style="display: inline-block;" title="{{animeJPName}}"><a id="modal-header" class="animeLink"
                    target="_blank" href="{{popUpannURL}}">{{popUpAnime}}
                    ({{popUpAnimeType}})</a><span style="margin-left: 20px;">{{popUpVintage}}</span></h3>
        </div>
        <div class="modal-body">
            <p id="modal-songinfo"></p>
            <span class="popUpText" title="Copy annId to clipboard" (click)="copyToClipboard(popUpannId)">
                annId: {{popUpannId}}</span> <span class="popUpText" style="margin-left: 20px;"
                title="Copy annSongId to clipboard" (click)="copyToClipboard(popUpannSongId)">
                annSongId: {{popUpannSongId}}</span>
            <br>
            <span class="popUpText" title="Copy Song Difficulty to clipboard" (click)="copyToClipboard(popUpSongDiff)">
                Song Difficulty: {{popUpSongDiff}}% <small>**Data collected on 2022-06-02</small> </span>
            <br><br>
            <span class="popUpText" title="Copy song infos to clipboard"
                (click)='copyToClipboard("\"" + popUpSongName + "\" by " + popUpArtist)'>
                "{{popUpSongName}}" by {{popUpArtist}}</span>
            <br>
            <span class="popUpText" title="Copy 720p link to clipboard" (click)="copyToClipboard(popUpHDLink)">
                720p: </span>
            <a id="modal-720-link" class="textLink" target="_blank" href="{{popUpHDLink}}">{{popUpHDLink}}</a>
            <br>
            <span class="popUpText" title="Copy 480p link to clipboard" (click)="copyToClipboard(popUpMDLink)">
                480p: </span>
            <a id=" modal-480-link" class="textLink" target="_blank" href="{{popUpMDLink}}">{{popUpMDLink}}</a>
            <br>
            <span class="popUpText" title="Copy mp3 link to clipboard" (click)="copyToClipboard(popUpAudioLink)">
                mp3: </span>
            <a id="modal-mp3-link" class="textLink" target="_blank" href="{{popUpAudioLink}}">{{popUpAudioLink}}</a>
            <h3 id="modal-artist-part">Artists Information</h3>
            <div class="grid">
                <div *ngFor=" let artist of popUpArtistsInfo">
                    <p style="margin: 5px">
                        <i *ngIf="!rankedTime" style="cursor: pointer; margin-right: 6px;"
                            title="Search songs by this artist" (click)="searchPopUpArtist(artist)"
                            class="fa fa-search"></i>
                        <span class="popUpText" title="Copy artist to clipboard"
                            (click)="copyToClipboard(artist['names'][0])">{{artist["names"][0]}}</span>
                    </p>
                    <p *ngIf="artist['members'] != undefined" style="margin: 3px; margin-top: 10px;"><b>Comprised
                            of:</b>
                    </p>
                    <div *ngFor="let member of artist['members']">
                        <i *ngIf="!rankedTime" style="cursor: pointer; margin-right: 6px;"
                            title="Search songs by this member" (click)="searchPopUpArtist(member)"
                            class="fa fa-search"></i>
                        <span class="popUpText" title="Copy member to clipboard"
                            (click)="copyToClipboard(member.names[0])">{{member.names[0]}}</span>
                    </div>
                    <p *ngIf="artist['groups'] != undefined" style="margin: 3px; margin-top: 10px;"><b>Part of:</b></p>
                    <div *ngFor="let group of artist['groups']">
                        <i *ngIf="!rankedTime" style="cursor: pointer; margin-right: 6px;"
                            title="Search songs by this group" (click)="searchPopUpArtist(group)"
                            class="fa fa-search"></i>
                        <span class="popUpText" title="Copy group to clipboard"
                            (click)="copyToClipboard(group.names[0])">{{group.names[0]}}</span>
                    </div>
                </div>
            </div>
            <h3 id="modal-artist-part">Composers</h3>
            <div *ngFor=" let composer of popUpComposersInfo">
                <p>{{composer["names"][0]}}</p>
            </div>
            <h3 id="modal-artist-part">Arrangers</h3>
            <div *ngFor=" let arranger of popUpArrangersInfo">
                <p>{{arranger["names"][0]}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <h3 id="modal-footer"></h3>
        </div>
    </div>

</div>

<table id="table" *ngIf="songTable">
    <!-- ADD HEADERS -->
    <tr>
        <th *ngFor="let col of tableHeaders" style="cursor:pointer;" title="Sort by {{col}}"
            (click)="sortFunction(col)">
            {{ col }}
        </th>
        <th style="text-align: center;">mp3</th>
        <th style="text-align: center;">{{songTable.length}}</th>
    </tr>

    <!-- BIND ARRAY TO TABLE -->
    <tr *ngFor=" let song of songTable">
        <td style="white-space: nowrap;">
            <i style="cursor: pointer; margin-right: 8px; color:var(--textOnBackground)"
                (click)="displaySongIngoPopup(song)" title="More information" class="fa fa-plus"
                matomoClickCategory="Information" matomoClickAction="Detailed Song Information"
                matomoClickName="{{song.annSongId}} - {{song.songName}} - {{song.songArtist}}"></i>
            <i style="cursor: pointer; margin-right: 4px; color:var(--textOnBackground)"
                title="Search songs in this entry" (click)="searchAnnId(song.annId)" class="fa fa-search"></i>
            <span class="copyable" title="Copy to clipboard" (click)="copyToClipboard(song.annId)">{{song.annId}}</span>
        </td>

        <td>
            <span class="copyable" title="Copy to clipboard"
                (click)="copyToClipboard(song.animeExpandName)">{{song.animeExpandName}}</span>
        </td>

        <td style="white-space: nowrap;">
            <span class="copyable" title="Copy to clipboard"
                (click)="copyToClipboard(song.songType)">{{song.songType}}</span>
        </td>

        <td> <span class="copyable" title="Copy to clipboard"
                (click)="copyToClipboard(song.songName)">{{song.songName}}</span> </td>

        <td> <i *ngIf="!rankedTime" style="cursor: pointer; margin-right: 6px; color:var(--textOnBackground)"
                title="Search songs by this artist(s)" (click)="searchArtistId(song.artists)" class="fa fa-search"></i>
            <span class="copyable" title="Copy to clipboard"
                (click)="copyToClipboard(song.songArtist)">{{song.songArtist}}</span>
        </td>

        <td *ngIf="!rankedTime" title="Listen to mp3" matomoClickCategory="Media" matomoClickAction="MP3Play"
            matomoClickName="{{song.annSongId}} - {{song.songName}} - {{song.songArtist}}" (click)="playMP3music(song)"
            style="text-align: center; color:var(--textOnBackground); cursor: pointer;">
            <i *ngIf="song.audio" class="fa fa-music fa-lg"></i>
        </td>

        <td style="text-align: center; color:var(--textOnBackground)"><span title="Delete song from list"
                (click)="deleteRowEntry(song)" style=" cursor: pointer;"><i class="fa fa-trash fa-lg"
                    aria-hidden="true"></i></span>
        </td>
    </tr>
</table>