<div class=mainFilter>

    <div *ngIf="!showAdvancedFilters" style="display: inline;">
        <button type="button" (click)="onSearchCallKey()">Search</button>

        <input #mainFilterInput placeholder="Search by anime, song name or artist"
            title="Search by anime, song name or artist" style="width: 420px;" class=textInputFilter type=search
            (keyup.enter)="onSearchCallKey()" (input)="mainFilter = mainFilterInput.value">

        <label class="check"><input type="checkbox" (change)="showOpenings=!showOpenings" [checked]=showOpenings> OP
        </label>
        <label class="check"><input type="checkbox" (change)="showEndings=!showEndings" [checked]=showEndings> ED
        </label>
        <label class="check"><input type="checkbox" (change)="showInserts=!showInserts" [checked]=showInserts> INS
        </label>

        <label class="check"><input type="checkbox" (change)="ignoreDuplicate=!ignoreDuplicate"
                [checked]=ignoreDuplicate> Ignore Duplicates
        </label>
    </div>

    <div style="display: inline;">
        <span class="helpButton" style="float: right; padding-left: 12px;" title="What can I do with that JSON?"
            onClick="window.open('https://github.com/xSardine/AMQ-Artists-DB/tree/main/misc_scripts#misc-scripts','_blank')">
            <i class="fa fa-question-circle"></i>
        </span>

        <a class="showFilter" (click)="generateDownloadJsonUri()" [href]="downloadJsonHref"
            download="{{downloadFileName}}">
            <i class=" fa fa-download"></i> Download Song List as JSON
        </a>

        <span class="showFilter" (click)="showAdvancedFilters=!showAdvancedFilters; mainFilter=''">
            <i class="fa fa-cog"></i> Toggle Advanced Filters
        </span>
    </div>

</div>

<br>

<div *ngIf="showAdvancedFilters" class="filters">

    <div style="display:block; padding-bottom: 5px;">
        <label class="check"><input type="checkbox" (change)="showOpenings=!showOpenings" [checked]=showOpenings> OP
        </label>
        <label class="check"><input type="checkbox" (change)="showEndings=!showEndings" [checked]=showEndings> ED
        </label>
        <label class="check"><input type="checkbox" (change)="showInserts=!showInserts" [checked]=showInserts> INS
        </label>
        <span class="helpButton" title="Help understanding settings"
            onClick="window.open('https://github.com/xSardine/AMQ-Artists-DB#filters','_blank')">
            <i class="fa fa-question-circle"></i>
        </span>
    </div>


    <div style="display:block; padding-bottom: 5px;">
        <input #animeFilterInput class=textInputFilter type=search placeholder="Search by anime..."
            title="Search by anime name" style="width: 230px;" (keyup.enter)="onSearchCallKey()"
            (input)="animeFilter = animeFilterInput.value">

        <label class="check"
            title="If activated, results only have to contain the filter and not match it exactly"><input
                type="checkbox" (change)="animeFilterPartialMatch=!animeFilterPartialMatch"
                [checked]=animeFilterPartialMatch>
            Partial Match
        </label>
        <label class="check" title="If activated, it will ignore specials caracters"><input type="checkbox"
                (change)="animeFilterIgnoreSpecialCaracters=!animeFilterIgnoreSpecialCaracters"
                [checked]=animeFilterIgnoreSpecialCaracters>
            Ignore Special Caracters </label>
        <label class="check" title="If activated, matching will be case sensitive"><input type="checkbox"
                (change)="animeFilterCaseSensitive=!animeFilterCaseSensitive" [checked]=animeFilterCaseSensitive> Case
            Sensitive
        </label>

    </div>

    <div style="display:block; padding-bottom: 5px;">
        <input #songNameFilterInput class=textInputFilter placeholder="Search by song name..."
            title="Search by song name" type=search style="width: 230px;" (keyup.enter)="onSearchCallKey()"
            (input)="songNameFilter = songNameFilterInput.value">

        <label class="check"
            title="If activated, results only have to contain the filter and not match it exactly"><input
                type="checkbox" (change)="songNameFilterPartialMatch=!songNameFilterPartialMatch"
                [checked]=songNameFilterPartialMatch>
            Partial Match
        </label>
        <label class="check" title="If activated, it will ignore specials caracters"><input type="checkbox"
                (change)="songNameFilterIgnoreSpecialCaracters=!songNameFilterIgnoreSpecialCaracters"
                [checked]=songNameFilterIgnoreSpecialCaracters>
            Ignore Special Caracters </label>
        <label class="check" title="If activated, matching will be case sensitive"><input type="checkbox"
                (change)="songNameFilterCaseSensitive=!songNameFilterCaseSensitive"
                [checked]=songNameFilterCaseSensitive> Case
            Sensitive
        </label>

    </div>

    <div style="display:block; padding-bottom: 8px;">
        <input #artistFilterInput class=textInputFilter placeholder="Search by artist..." type=search
            title="Search by artist" style="width: 230px;" (keyup.enter)="onSearchCallKey()"
            (input)="artistFilter = artistFilterInput.value">

        <label class="check"
            title="If activated, results only have to contain the filter and not match it exactly"><input
                type="checkbox" (change)="artistFilterPartialMatch=!artistFilterPartialMatch"
                [checked]=artistFilterPartialMatch>
            Partial Match
        </label>
        <label class="check" title="If activated, it will ignore specials caracters"><input type="checkbox"
                (change)="artistFilterIgnoreSpecialCaracters=!artistFilterIgnoreSpecialCaracters"
                [checked]=artistFilterIgnoreSpecialCaracters>
            Ignore Special Caracters </label>
        <label class="check" title="If activated, matching will be case sensitive"><input type="checkbox"
                (change)="artistFilterCaseSensitive=!artistFilterCaseSensitive" [checked]=artistFilterCaseSensitive>
            Case
            Sensitive
        </label>

    </div>

    <div title="This is the maximum amount of people that are not in your Artist Filter field who are allowed"
        style="display:block; padding-bottom: 8px; padding-right: 6px;">
        <label>Max Other People<input #maximumRandomsFilterInput placeholder="99..."
                style="width: 40px; margin-left: 5px;" type=search class=textInputFilter
                (keyup.enter)="onSearchCallKey()" (input)="maximumRandomsFilter = maximumRandomsFilterInput.value"
                [value]=maximumRandomsFilter></label>

        <label
            title="This is the minimum amount of singer from the group that needs to be present (only useful for groups)"
            style="margin-left: 20px;">Min group members<input #minimalMembersFilterInput placeholder="0..."
                style="width: 40px; margin-left: 5px;" type=search class=textInputFilter
                (keyup.enter)="onSearchCallKey()" (input)="minimalMembersFilter = minimalMembersFilterInput.value"
                [value]=minimalMembersFilter></label>
    </div>

    <div style="display:block; padding-bottom: 5px;">

        <label title="Define how the filters will be combine together" for="showonly">Filters Combination: </label>
        <select (change)="selectFilterCombinationChangeHandler($event)" class="selectFilter">
            <option title=" A song needs to match at least one of the filters" selected="selected">Union</option>
            <option title="A song needs to match every filter">Intersection</option>
        </select>

        <label class="check"><input type="checkbox" (change)="ignoreDuplicate=!ignoreDuplicate"
                [checked]=ignoreDuplicate>
            Ignore Duplicates
        </label>


    </div>

    <button type="button" (click)="onSearchCallKey()">Search</button>


</div>