/* You can add global styles to this file, and also import other style files */
:root {
  --primaryColor: #222;
  --secondaryColor: #1976d2;
  --songTableHoverColor: #222;
  --songTableImpairColor: #333;
  --songTablePairColor: #555;
  --tableFontColor: white;
  --textOnPrimary: white;
  --textOnSecondary: black;
  --background: #555;
  --textOnBackground: white;
  --linkOnBackground: white;
}

body {
  background-color: var(--background);
  color: var(--textOnBackground);
  font-family: "Arial", sans-serif;
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position above the element */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.2s; /* Control the fade-in timing */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
